Program and Flow/flows.json
[
    {
        "id": "6317b18acbea8eb3",
        "type": "tab",
        "label": "smart agriculture",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92fd92297d451dfe",
        "type": "debug",
        "z": "6317b18acbea8eb3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 584.6000576019287,
        "y": 401.0000057220459,
        "wires": [],
        "l": false
    },
    {
        "id": "3ded6768d8226178",
        "type": "http response",
        "z": "6317b18acbea8eb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 535,
        "y": 640,
        "wires": [],
        "l": false
    },
    {
        "id": "5fc5daa6850f1d1e",
        "type": "http in",
        "z": "6317b18acbea8eb3",
        "name": "",
        "url": "/command",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 385.60007667541504,
        "y": 611.4000091552734,
        "wires": [
            [
                "3ded6768d8226178",
                "940a71676008a689",
                "0e1f6bb2ab4b3941"
            ]
        ],
        "l": false
    },
    {
        "id": "0e1f6bb2ab4b3941",
        "type": "debug",
        "z": "6317b18acbea8eb3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 535,
        "y": 600,
        "wires": [],
        "l": false
    },
    {
        "id": "13a9a3339cd70511",
        "type": "function",
        "z": "6317b18acbea8eb3",
        "name": "",
        "func": "msg.payload={\n    \"temperature\":global.get('temp'),\n    \"humidity\":global.get('hum'),\n    \"soil_moisture\":global.get('soil')\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 431.6000556945801,
        "y": 475.00000762939453,
        "wires": [
            [
                "25d489eb337b26ad"
            ]
        ],
        "l": false
    },
    {
        "id": "d14695f324270786",
        "type": "http in",
        "z": "6317b18acbea8eb3",
        "name": "",
        "url": "/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 322.6000061035156,
        "y": 474.60003662109375,
        "wires": [
            [
                "13a9a3339cd70511"
            ]
        ],
        "l": false
    },
    {
        "id": "25d489eb337b26ad",
        "type": "http response",
        "z": "6317b18acbea8eb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 526.6000576019287,
        "y": 476.6000556945801,
        "wires": [],
        "l": false
    },
    {
        "id": "a1efb38732812822",
        "type": "ui_button",
        "z": "6317b18acbea8eb3",
        "name": "",
        "group": "f256bea59086faae",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MOTOR ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"motoron\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 381.6000061035156,
        "y": 529.0000076293945,
        "wires": [
            [
                "940a71676008a689",
                "0e1f6bb2ab4b3941"
            ]
        ],
        "l": false
    },
    {
        "id": "d82c293aca46956e",
        "type": "ui_button",
        "z": "6317b18acbea8eb3",
        "name": "",
        "group": "f256bea59086faae",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MOTOR OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"motoroff\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 385.600004196167,
        "y": 569.0000076293945,
        "wires": [
            [
                "0e1f6bb2ab4b3941",
                "940a71676008a689"
            ]
        ],
        "l": false
    },
    {
        "id": "940a71676008a689",
        "type": "ibmiot out",
        "z": "6317b18acbea8eb3",
        "authentication": "apiKey",
        "apiKey": "233183d6.16ba7c",
        "outputType": "cmd",
        "deviceId": "12345",
        "deviceType": "project",
        "eventCommandType": "cmd",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 530.6000556945801,
        "y": 523.4000072479248,
        "wires": [],
        "l": false
    },
    {
        "id": "35c78269c8e2e202",
        "type": "ibmiot in",
        "z": "6317b18acbea8eb3",
        "authentication": "apiKey",
        "apiKey": "233183d6.16ba7c",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "12345",
        "applicationId": "",
        "deviceType": "project",
        "eventType": "",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": false,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 125,
        "y": 300,
        "wires": [
            [
                "ce6967267fd4c71b",
                "1db7993ec77fcec4",
                "1049b8f93951b041"
            ]
        ],
        "l": false
    },
    {
        "id": "892999efaca35f3d",
        "type": "debug",
        "z": "6317b18acbea8eb3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 476.6000556945801,
        "y": 428.0000066757202,
        "wires": [],
        "l": false
    },
    {
        "id": "20afa00e7f446532",
        "type": "http request",
        "z": "6317b18acbea8eb3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulkV2?authorization=ejC3WAqiVKbOZdycnIf7UoH9vpLBEkgwYFsR5Pl64tJGh1M80uLoxObv97tFDCYuqU2MIdmTnr5R3wpc&route=q&message=less%20soli%20moisture%20--%7B%7Bpayload%7D%7D&language=english&flash=0&numbers=9150404548",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 388.60005474090576,
        "y": 413.00000762939453,
        "wires": [
            [
                "892999efaca35f3d"
            ]
        ],
        "l": false
    },
    {
        "id": "06909e0e4cf50627",
        "type": "switch",
        "z": "6317b18acbea8eb3",
        "name": "Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 301.600004196167,
        "y": 400.0000057220459,
        "wires": [
            [
                "20afa00e7f446532"
            ]
        ],
        "l": false
    },
    {
        "id": "ce6967267fd4c71b",
        "type": "function",
        "z": "6317b18acbea8eb3",
        "name": "Soil_moisture",
        "func": "global.set('moist',msg.payload.soil_moisture)\nmsg.payload=msg.payload.soil_moisture\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 286.600004196167,
        "y": 257.00000381469727,
        "wires": [
            [
                "92fd92297d451dfe",
                "07cd989124802504"
            ]
        ],
        "l": false
    },
    {
        "id": "1db7993ec77fcec4",
        "type": "function",
        "z": "6317b18acbea8eb3",
        "name": "Humidity",
        "func": "global.set('hum',msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290.6000051498413,
        "y": 316.0000047683716,
        "wires": [
            [
                "11e5232b6939f17b",
                "92fd92297d451dfe"
            ]
        ],
        "l": false
    },
    {
        "id": "11e5232b6939f17b",
        "type": "ui_chart",
        "z": "6317b18acbea8eb3",
        "name": "",
        "group": "f256bea59086faae",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1049b8f93951b041",
        "type": "function",
        "z": "6317b18acbea8eb3",
        "name": "Temperature",
        "func": "global.set('temp',msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "92fd92297d451dfe",
                "06909e0e4cf50627",
                "e138bdab86978419"
            ]
        ]
    },
    {
        "id": "e138bdab86978419",
        "type": "ui_gauge",
        "z": "6317b18acbea8eb3",
        "name": "",
        "group": "f256bea59086faae",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "07cd989124802504",
        "type": "ui_chart",
        "z": "6317b18acbea8eb3",
        "name": "",
        "group": "f256bea59086faae",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Soil_moisture",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f256bea59086faae",
        "type": "ui_group",
        "name": "",
        "tab": "d2152bf730360353",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "233183d6.16ba7c",
        "type": "ibmiot",
        "z": "6317b18acbea8eb3",
        "name": "latest",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "d2152bf730360353",
        "type": "ui_tab",
        "name": "Home",
        "icon": "weather",
        "disabled": false,
        "hidden": false
    }
]